params {
    input             = null
    outdir            = null
    reference_fasta   = null
    reference_gff     = null

    skip_fastqc       = false
    skip_fastp        = false
    skip_multiqc      = false
    skip_reference_prep = false
    skip_alignment    = false

    publish_dir_mode  = 'copy'
    help              = false
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel:process_low {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }

    withLabel:process_medium {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    conda {
        conda.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

    test {
        params.input = "${projectDir}/assets/samplesheet.csv"
        params.outdir = "results"
        params.reference_fasta = "${projectDir}/assets/reference/NC_004162.2.fasta"
        params.reference_gff = "${projectDir}/assets/reference/NC_004162.2.gff"
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

manifest {
    name = 'brennovmh/CHIK_FLOW'
    author = 'brennovmh'
    homePage = 'https://github.com/brennovmh/CHIK_FLOW'
    description = 'Nextflow pipeline for chikungunya virus sequencing analysis'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version = '0.1.0-dev'
}
